<header>
	<div id="head-cont">
		<a href="/home"><div id="gf-logo">GameFace</div></a>
		<a href="/gamerz"><div id="network">GamerZ</div></a>
		<a href="/gamehub">
			<div id="hub">GameHub</div>
		</a>
		<div class="acct-bar">
			<% if user_signed_in? %>
				<a href="/profile"><div class="mini-prof">
					<div class="mini-prof-pic"><img src="<%= @user.prof_pic %>" /></div>
					<div class="greeting">Welcome <%= @user.username %><br />
						<div class="last-login">Logged In last on: <%= @user.last_sign_in_at.to_s.to_date %></div>
					</div>
					<div class="clear"></div>
				</div></a>
			<% else %>
				<div class="user-sign-inout"><%= link_to "Sign In", new_user_session_path %></div>
			<% end %>
			<div id="user-sign-inout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			</div>
		</div>
	</div>
</header>
<div id="container">
	<div id="welcome-banner">
		<h2>Welcome to the home page of GameFace</h2>
		<h4>A network for gamers by gamers.</h4>
	</div>

	<div class="left-cont">
		<section>
			<h4>Professional sc2 Leagues</h4>
			<div class="divider"></div>
			<ul class="pro-links">
				<a href="http://www.esl.eu/eu/sc2/"><li>European Starleague</li></a>
				<a href="http://www.nasl.tv/"><li>North America Starleague</li></a>
				<a href="http://www.twitch.tv/wcs_osl"><li>OnGameNet Starleague</li></a>
				<a href="http://us.wcg.com/"><li>World Cyber Games</li></a>
				<a href="http://www.twitch.tv/ignproleague"><li>IGN Proleague</li></a>
				<a href="http://wcs.battle.net/sc2/en#schedule"><li>World Championship Series</li></a>
			</ul>
		</section>
		<section>
			<h4>Professional LoL Leagues</h4>
			<div class="divider"></div>
			<ul class="pro-links">
				<a href="http://na.lolesports.com/"><li>LoL eSports</li></a>
			</ul>
		</section>
	</div>
	<div class="right-cont">
		<div class="sub-left-cont">
			<section>
				<h4>StarCraft 2 Strategy</h4>
				<div class="divider"></div>
				<ul class="pro-links">
					<a href="http://wiki.teamliquid.net/starcraft2/Main_Page"><li>Liquipedia</li>
					<a href="http://www.day9.tv"><li>Day9</li></a>
					<a href="http://tv.majorleaguegaming.com/game/starcraft-2-3"><li>Major League Gaming</li></a>
					<a href="http://us.battle.net/sc2/en/game/strategy-guide/"><li>BattleNet</li></a>
					<a href="http://epicstarcraft2strategy.com/"><li>Epic sc2 Strategies</li></a>
					<a href="http://starcraft.wikia.com/wiki/Category:StarCraft_II_terran_strategy"><li>Starcraft Wikia</li></a>
				</ul>
			</section>
			<section>
				<h4>League of Legends Strategy</h4>
				<div class="divider"></div>
				<ul class="pro-links">
					<a href="http://www.lolnexus.com/"><li>LoLNexus</li></a>
					<a href="http://www.mobafire.com/"><li>MOBA Fire</li></a>
					<a href="http://www.lolpro.com/"><li>LoL Pro</li></a>
					<a href="http://leaguecraft.com/"><li>LeagueCraft</li></a>
					<a href="http://www.solomid.net/"><li>Solo Mid</li></a>
					<a href="http://leagueoflegends.wikia.com/wiki/Category:Champion_strategies"><li>LoL Wikia</li></a>
				</ul>
			</section>
		</div>
		<div class="sub-right-cont">
			<section>
				<h4>StarCraft 2 Channels</h4>
				<div class="divider"></div>
				<ul class="channel-links">
					<li>
						<div id="day9" class="channel-icon"></div>
						<div class="channel-name">Day9</div>
						<a href="http://www.youtube.com/channel/UCaxar6TBM-94_ezoS00fLkA"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/day9tv"><div id="twitch" class="channel-type"></div></a>
					</li>
					<li>
						<div id="husky" class="channel-icon"></div>
						<div class="channel-name">HuskyStarcraft</div>
						<a href="http://www.youtube.com/channel/UCZ8D7Qvm0YHm0vZKFl-AFdA"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/huskystarcraft"><div id="twitch" class="channel-type"></div></a>
					</li>
					<li>
						<div id="tb" class="channel-icon"></div>
						<div class="channel-name">TotalBiscuit</div>
						<a href="http://www.youtube.com/user/TotalBiscuit"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/totalbiscuit"><div id="twitch" class="channel-type"></div></a>
					</li>
					<li>
						<div id="mlg" class="channel-icon"></div>
						<div class="channel-name">MLG</div>
						<a href="http://www.youtube.com/channel/UCwOPGemlwjOfyWc6djufTeg"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/mlgsc2"><div id="twitch" class="channel-type"></div></a>
					</li>
					<li>
						<div id="wcs" class="channel-icon"></div>
						<div class="channel-name">WCS</div>
						<a href="http://www.youtube.com/user/WCSStarCraft"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/wcs_america"><div id="twitch" class="channel-type"></div></a>
					</li>
				</ul>
			</section>
			<section>
				<h4>League of Legends Channels</h4>
				<div class="divider"></div>
				<ul class="channel-links">
					<li>
						<div id="riot" class="channel-icon"></div>
						<div class="channel-name">Riot Games</div>
						<a href="http://www.youtube.com/user/RiotGamesInc"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/riotgames"><div id="twitch" class="channel-type"></div></a>
					</li>
					<li>
						<div id="lol" class="channel-icon"></div>
						<div class="channel-name">Champs Series</div>
						<a href="http://www.youtube.com/user/LoLChampSeries"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/ruloltv"><div id="twitch" class="channel-type"></div></a>
					</li>
					<li>
						<div id="ipl" class="channel-icon"></div>
						<div class="channel-name">IPL</div>
						<a href="http://www.youtube.com/user/IPLLoL"><div id="youtube" class="channel-type"></div></a>
						<a href="http://www.twitch.tv/ipllol"><div id="twitch" class="channel-type"></div></a>	

					</li>

				</ul>
			</section>

		</div>
	</div>
</div>