<header>
	<div id="head-cont">
		<a href="/home"><div id="gf-logo">GameFace</div></a>
		<a href="/gamerz"><div id="network">GamerZ</div></a>
		<a href="/gamehub">
			<div id="hub">GameHub</div>
		</a>
		<div class="acct-bar">
			<% if user_signed_in? %>
				<a href="/profile"><div class="mini-prof">
					<div class="mini-prof-pic"><img src="<%= @user.prof_pic %>" /></div>
					<div class="greeting">Welcome <%= @user.username %><br />
						<div class="last-login">Logged In last on: <%= @user.last_sign_in_at.to_s.to_date %></div>
					</div>
					<div class="clear"></div>
				</div></a>
			<% else %>
				<div class="user-sign-inout"><%= link_to "Sign In", new_user_session_path %></div>
			<% end %>
			<div id="user-sign-inout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			</div>
		</div>
	</div>
</header>
<div id="container">
	<h1 class="hist-title">Match History</h1>
	<div class="divider"></div><br />
	<% history = @sorted.reverse %>
	<% history.each do |game| %>
		<section class="game-stats">
			<li><h4>On <%= game["createDate"] %>,</h4></li>
			<li><h4>You played
				<% if game["ranked"] == false %>
					a unranked game
				<% else %>
					a ranked game
				<% end %>
			</h4></li>
			<% if game["premadeSize"] > 1  %>
				<li><h4>and you premade a team with <%= game["premadeSize"] %>/5 players.</h4></li>
			<% else %>
				<li><h4>and you did not premake a team of players.</h4></li>
			<% end%>
			<!--<%= game["statistics"]["array"][8] %>-->
			<ul>
				<% game["statistics"]["array"].each do |stat| %>
					<% case stat["statType"] %>
					<% when "WIN" %>
						<li id="win">Congrats, you won this game!</li>
					<% when "LOSE" %>
						<li id="loss">Unfortuneately you lost this game</li>
					<% when "CHAMPIONS_KILLED"%>
						<li>You killed <%= stat["value"] %> champions.</li>
					<% when "NUM_DEATHS" %>
						<li>You died <%= stat["value"] %> times.</li>
					<% when "ASSISTS" %>
						<li>You had <%= stat["value"] %> assists.</li>
					<% when "GOLD_EARNED" %>
						<li>You earned: <%= stat["value"] %> gold.</li>
					<% when "MINIONS_KILLED" %>
						<li>You killed <%= stat["value"] %> minions.</li>
					<% when "LARGEST_MULTI_KILL" %>
						<li>Your biggest multi-kill was <%= stat["value"] %></li>
					<% when "LARGEST_KILLING_SPREE" %>
						<li>Your longest killing spree was <%= stat["value"] %></li>
					<% when "TOTAL_DAMAGE_DEALT_TO_CHAMPIONS" %>
						<li>You dealt a total of <%= stat["value"] %> damage.</li>
					<% when "MAGIC_DAMAGE_DEALT_TO_CHAMPIONS" %>
						<li>You dealt a total of <%= stat["value"] %> magic damage.</li>
					<% end %>
				<% end %>
			</ul>
		</section>
	<% end %>

</div>